/*Contine las características del menú desplegable*/
/* 
    Created on : 4/11/2016, 03:34:00 PM
    Author     : ÁngelL
*/
body {
    background: darkcyan;
   
}

#prer{
     list-style: disc;
}

#canvas {    
    background:  white;
}  

#orden {    
    background:  white;  
    cursor: pointer;
}  

#boxespecial{
     height: 270px;
}

#box5E{
     height: 170px;
}

#box3esp{
     height: 200px;
}

#fraccion {
    margin-top: 50px;
    margin-right: 100px;
  /*  font-family: Georgia;
    font-size: 45px;
    color: orange; */
    font-family: sans-serif;
    font-size: 30px;
    color: darkcyan;
}

#respuesta {
  /*  margin-top: 50px;
    margin-right: 200px; */
    font-size: 30px;
    color: orangered;
    
}

#resp{
    visibility: hidden;
}

button{
    font-family: cursive;
    font-size: 18px;
    margin-left: 10px;
 /*   background: linear-gradient(100deg, #91bd09, #578730); */
    background: orange;
    color: whitesmoke;
    border-radius: 20px;
    padding: 8px 14px 9px;
   cursor: pointer
        
}


.cajas{
    font-family: cursive;
    font-size: 20px;
    margin-left: 18px;
    background: orange;
    color: whitesmoke;
    border-radius: 20px;
    padding: 8px 14px 9px
}

.colour{
    background: palegoldenrod;
}

.segparte{
    
     border-bottom-color: darkcyan;
    cursor: pointer;
    font-family: cursive;
    font-size: 25px;
    margin-left: 10px;
    background: white;
    color: darkcyan;
    border-radius: 10px;
    padding: 8px 14px 9px
}

#salida{
    color: lightseagreen;
}
#salida1{
    color: lightseagreen;
}

.check{
    margin-left: 20px;
    font-family: cursive;
    font-size: 20px;
    color: whitesmoke;
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, #91bd09, #578730);
    display: block;
    cursor: pointer;
    border-radius: 10px;
}

.vineta{
    margin-left: 5px;
    font-family: cursive;
    font-size: 20px;
    color: lightseagreen;
    width: 80px;
    height: 50px;
    /*background: linear-gradient(100deg, #91bd09, #578730);*/
    background: white;
    display: block;
    cursor: pointer;
    border-radius: 10px;
}

#Lamon {
    
  border-collapse: separate;
  border-spacing:  80px 30px;
}

#fracnum{
    font-family: cursive;
    font-size: 25px;
    color: blue;
}

#fracden{
    font-family: cursive;
    font-size: 25px;
    color: blue;
}

#tab2{
    align-content: center;
    margin: 50px 0 50px 0; 
    padding: 1px;
    text-align: center;
    background-color:  plum;
    border-radius: 3px;
    margin-left: 300px;
    width: 800px;  /* 800px*/
    font-size: 25px;
}


#tab2 th {
    text-align: center;
    background-color: window; 
}

#tab2 tr:nth-child(odd) {
    background-color: lightcyan;
}

#tab2 tr:nth-child(even) {
    background-color: window;
}

.check{
    
    font-family: cursive;
    font-size: 20px;
    color: whitesmoke;
    width: 25px;
    height: 25px;
    background: linear-gradient(100deg, #91bd09, #578730);
    display: block;
    cursor: pointer;
    border-radius: 10px;
}
.button{
       cursor: pointer;      
}
   
#FraccionA {

    font-size: 30px;
    color: darkcyan;
}

#orden{
    font-size: 20px;
    color: darkcyan;
}

#FraccionB {
    font-size: 30px;
    color: darkcyan;
}

#FraccionEjemplo {
    font-family: cursive;
    font-size: 20px;
    color: darkcyan;
}

#FraccionReferencia1 {
    font-family: cursive;
    font-size: 18px;
    color: darkcyan
}
#FraccionReferencia2 {
    font-family: cursive;
    font-size: 18px;
    color: darkcyan;
}
#FraccionReferencia3 {
    font-family: cursive;
    font-size: 18px;
    color: darkcyan;
}
#FraccionReferencia4 {
    font-family: cursive;
    font-size: 18px;
    color: darkcyan;
}

#Fraccion1 {
    font-size: 25px;
    color: midnightblue;
}

#Fraccion2 {
    font-size: 25px;
    color: mediumvioletred;
}

#Fraccion3 {
    font-size: 25px;
    color: lightseagreen;
}

#Fraccion4 {
    font-size: 25px;
    color: lightseagreen;
}
#Fraccion5 {
    font-size: 25px;
    color: lightseagreen;
}

#Fraccion6 {
    font-family: cursive;
    font-size: 30px;
    color: orangered;
}
#Fraccion7 {
    font-family: cursive;
    font-size: 30px;
    color: orangered;
}
#simbolo {
    font-family: cursive;
    font-size: 25px;
    color: darkcyan;
}
#simbolo2 {
    font-family: cursive;
    font-size: 25px;
    color: darkcyan;
}
#proponefrac {
    font-family: cursive;
    font-size: 20px;
    color: darkcyan;
}
a:link   
{  
 text-decoration:none;   
}   

a{ 
color:white; 
} 

#link{ 
 color: darkcyan;
} 

/* Popup container */
.popup {
    color: darkcyan;
    
    position: absolute;
    margin-left: 712px;
    margin-top: -140px;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 600px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -350px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;              
    animation: fadeIn 1s
}

.button:hover ~.popup
{
  margin-left:45px;
  margin-top:-220px;
  opacity:1;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.violeta{ color: mediumvioletred;}
.azul { color:midnightblue ; }

.popup:hover {color:orange;}

@-webkit-keyframes uparrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
}
@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.container {

  top:0;
  bottom:0;
  left:0;
  right:0;
  position:absolute;
}
.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #00b6f1;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid darkcyan;
}
