
*{
    padding: 0px; /*para manipular las viñetas*/
    margin: 0px;
}


#dme{
 /*   width: 700px;
    /*margin-left: 445px; */
    margin: auto;
   /* margin-top: 50px; */
    font-family: sans-serif;

    font-size: 10px; 
}


#text{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;
   /* font-family: cursive; Georgia anteriormente */
    font-size: 23px;
    color: black;
    text-align: justify;
}

#text1{
    color: darkcyan; 
}

#texto2{
    color: black;
}

#texto3{
    font-size: 23px;
    color: black;
}

#text3{
    color: blue;
}

#header{
    margin: auto;  /*para centrar el menú únicamente*/ 
 /*   margin-left: 300px; */
    width: 1100px; /*1540px; 1380  el tamaño del renglón o fila de la "tabla"*/
    /*font-family: Arial, Helvetica, sans-serif; */
  /*  font-family: cursive;*/       
    font-size: 17px;
}  


ul,ol{
    list-style: none; /*para quitar las viñetas que se ponen por default*/
}

.nav li a{  /*para crear la apariencia de tabla*/
    background-color: lightseagreen; /*para el color de fondo de la tabla del menú*/
    color: white; /*el color de la fuente del menú*/
    text-decoration: none; /*se quita el subrayado de cada palabra*/
    padding: 20px 11px; /*20px de altura y 21.75  71px de ancho, ocurrira un traslape*/
    display: block; /*para quitar la forma en línea como se veían los elementos*/
}

.nav li a:hover{
    background-color: #434343;  /*el color para sombrear cada celda cuando se seleccione*/
}

.nav li a:active{
    background-color: #434343;  /*el color para sombrear cada celda cuando se seleccione*/
}

.nav li a:focus{
    background-color: #434343;  /*el color para sombrear cada celda cuando se seleccione*/
}
.nav li a:checked{
    background-color: #434343;  /*el color para sombrear cada celda cuando se seleccione*/
}


.nav > li{
    float: left; /*para acomodar los submenús*/
}

.nav li ul{
    display: none;  /*para ocultar los submenús*/
    position: relative;  /*absolute ant*/
    min-width: 140px;
}

.nav li:hover > ul{ /*para que al pasar el cursor se despliegue*/
    display: block;
}

.nav li ul li{ /*para acomodar los submenús*/
    position: relative;
}

.nav li ul li ul{
    right: -140px;
    top: 0px;
}

.cambioColor:hover {color:orange;}



.not-active {
   pointer-events: none;
   cursor: default;
}

#Muestra{
   cursor: not-allowed;
}
#muestra-acentua{
    cursor: pointer; 
}
#muestra-p1{
    cursor: pointer; 
}

#muestra-p2{
    cursor: pointer; 
}
#muestra-p3{
    cursor: pointer; 
}
#muestra-p4{
    cursor: pointer; 
}
#muestra-p5{
    cursor: pointer; 
}

